<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="https://gitlab.com/openoximeter"><span class="icon">{% include GitLab.svg %}</span><span class="username">GitLab</span></a>
          </li>
          <!-- Add this back in if we make a gitter
          <li>
            <a href="https://gitter.im/???"><span class="icon">{% include Gitter.svg %}</span><span class="username">Gitter</span></a>
          </li>-->
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p> Content on this site is licensed under a <a class="username" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license.</a></p>
      </div>
    </div>

  </div>

</footer>
